.boxContainer{
    background: #fff;
    padding: 2.5rem;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0.5rem;
}
.boxContainerFlex{
    background: #fff;
    padding: 2rem;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.titulos{
    font-weight: 700;
    text-transform: uppercase;
}
.tituloSm{
    @extend .titulos;
    text-align: center;
    
}
.boton{
    background: #f7f7f7;
    padding: 7px;
    border-radius: 8px;
    color: #555;
    width: 100%;
    border: 1px solid rgba(0,0,0, .1);
    overflow: hidden;
    height: fit-content;
}
.select{
    width: 100%;
    padding: 10px;
    border: var(--accent-light) 1px solid;
    color: rgb(107, 114, 128);
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 5px
}
.datos{
    background: var(--accent-light);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(107, 114, 128);
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0, .05)
}
.text{
    font-size: 13px;
    text-align: justify;
}


//
.titleColor{
    letter-spacing: -0.05em;
    font-weight: 900;
    font-size: 6em;
    text-transform: lowercase;
    color: var(--accent);
    margin-bottom: -30px;
    position: relative;
}
.contentContainer{
    background: #ffff;
    padding: 2em;
    border-radius: 15px;
    border: rgba(0,0,0,.1) 1px solid
}
.textInput{
    padding: 8px;
    border: rgba(0,0,0,.1) 1px solid;
    border-radius: 10px;
    width: 100%;
}
.labelForm{
    padding: 5px;
    font-size: 15px;
    span{
        display: block;
        font-size: 11px;
        color: #555;
    }
}
.textarea{
    @extend .textInput;
    min-height: 200px;
    max-height: 400px;
}
.formContainer{
    @extend .contentContainer;
    display: flex;
    flex-wrap: wrap;
}